<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Answer Options</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 th:text="'Answer options of &#34;' + ${question.q_description} + '&#34;'" class="mb-4"></h3>
      <div>

        <a th:href="@{/quizzes/{quizId}/questions(quizId=${quizId})}" class="btn btn-secondary">Back to questions</a>

      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Answer option text</th>
          <th>Correctness</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="answer : ${answers}">
          <td th:text="${answer.option}">Answer Text</td>
          <td>
            <span th:if="${answer.correct}" class="badge bg-success text-white">Correct</span>
            <span th:if="${!answer.correct}" class="badge bg-danger text-white">Not correct</span>
          </td>
          <td>
            <form
              th:action="@{/delete-answer/{quizId}/{questionId}/{answerId}(quizId=${quiz.id},questionId=${question.id},answerId=${answer.id})}"
              method="post" style="display: inline">
              <button type="submit" class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete this quiz?')"><i class="bi bi-trash"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>