<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit Quiz</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container mt-5">
      <h1 th:text="'Edit &quot;' + ${quiz.title} + '&quot;'" class="mb-4"></h1>
      <form
        th:action="@{/edit/{id}(id=${quiz.id})}"
        th:object="${quiz}"
        method="post"
        class="needs-validation"
      >
        <div class="mb-3">
          <input type="hidden" th:field="*{id}" />
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            th:field="*{title}"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a title for the quiz.
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            id="description"
            th:field="*{description}"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a description for the quiz.
          </div>
        </div>

        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <div class="form-check">
            <input
              type="checkbox"
              id="status"
              th:field="*{status}"
              value="Published"
              class="form-check-input"
            />
            <label class="form-check-label" for="status">Published</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select
            id="category"
            th:field="*{category}"
            class="form-select form-control"
            required
          >
            <option value="" disabled selected>-- Select a Category --</option>
            <option
              th:each="category : ${categories}"
              th:value="${category.id}"
              th:text="${category.name}"
            ></option>
          </select>
          <div class="invalid-feedback">
            Please select the category for the quiz.
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Save</button>
        <a th:href="@{/quizzes}" class="btn btn-lg btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>
