<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>

    <div class="container mt-5">
        <a th:href="@{/add-question/{id}(id=${quiz.id})}"><button class="btn btn-primary btn-sm"><i class="bi bi-plus" style="font-size: 18px; display: inline;"></i>Add Question</button></a>
        <a th:href="@{/quizzes}"><button class="btn btn-secondary btn-sm"><i class="bi bi-list" style="font-size: 18px; display: inline;"></i> Quizzes</button></a>
        <br><br>
        <h4 style="margin-top: 30px;display: inline;">Quiz: </h4><h4 style="margin-top: 30px;display: inline;" th:text="${quiz.title}"></h4>

    </div>

</body>
</html>